<div class="col-md-12">
  <h2><i class="fa fa-smile-o"></i> User stories</h2>
  <p>These are mostly hypothetical. <small>(Some are based on real Engines pre-beta users. You know who you are! Thanks for your feedback and help testing Engines.)</small></p>
  <h3>At work</h3>
  <hr>
</div>

<div class="row">
  <div class="col-md-12 top-gap">
    <div class="col-md-3">
      <div class="panel-thumbnail-container">
        <%= image_tag 'user_stories/sally.jpg', class: "img-rounded" %>
        <p class="panel-thumbnail-text">Sally is a PR professional. She runs a database in the cloud for her consulting business. The database tracks projects and tasks across Sally's team, keeps record of industry contacts, stores press clippings, and generates reports for clients.</p>
      </div>
    </div>

    <div class="col-md-3">
      <div class="panel-thumbnail-container">
        <%= image_tag 'user_stories/sam.jpg', class: "img-rounded" %>
        <p class="panel-thumbnail-text">Sam is a project manager. Sam fired-up a server in the office of his new employer to help the team collaborate better. The server is running Sam's favourite project management software and the others love it.</p>
      </div>
    </div>

    <div class="col-md-3">
      <div class="panel-thumbnail-container">
        <%= image_tag 'user_stories/mimi.jpg', class: "img-rounded" %>
        <p class="panel-thumbnail-text">Mimi is a photographer. She has a server in the cloud for her portfolio website, client albums and back-ups. She has another in her studio for personal storage, to make it easier to work with big files.</p>
      </div>
    </div>

    <div class="col-md-3">
      <div class="panel-thumbnail-container">
        <%= image_tag 'user_stories/terrance.jpg', class: "img-rounded" %>
        <p class="panel-thumbnail-text">Terrance is head of sales for his firm. He uses a CRM system that he shares with his two colleagues. He uses Engines because it allows him to run the CRM system that he likes without burdening the IT department with the build.</p>
      </div>
    </div>
  </div>
</div>

<div class="col-md-12">
  <h3>Techical use</h3>
  <hr>
</div>

<div class="row">
  <div class="col-md-12 top-gap">
    <div class="col-md-3">
      <div class="panel-thumbnail-container">
        <%= image_tag 'user_stories/dan.jpg', class: "img-rounded" %>
        <p class="panel-thumbnail-text">Dan is an IT consultant with many small business clients. He uses Engines for building core network services, including servers for files, email, printing, calendars and contacts. Dan is able to quickly deploy cost-effective solutions that work well and make clients happy.</p>
      </div>
    </div>

    <div class="col-md-3">
      <div class="panel-thumbnail-container">
        <%= image_tag 'user_stories/doug.jpg', class: "img-rounded" %>
        <p class="panel-thumbnail-text">Doug is a management systems consultant. He uses a server to run machine learning applications that help him optimize client operations. Doug likes Engines because they make it easy for him to scale-up when he needs to handle large amounts of data.</p>
      </div>
    </div>

    <div class="col-md-3">
      <div class="panel-thumbnail-container">
        <%= image_tag 'user_stories/finn.jpg', class: "img-rounded" %>
        <p class="panel-thumbnail-text">Finn is a web designer with a server in the cloud for hosting the websites that he builds for his clients. He also has a server in his office for web development. He likes Engines because he can easily move complex sites between physical and virtual hosting environments.</p>
      </div>
    </div>

    <div class="col-md-3">
      <div class="panel-thumbnail-container">
        <%= image_tag 'user_stories/anika.jpg', class: "img-rounded" %>
        <p class="panel-thumbnail-text">Anika is an independent software developer. She writes custom applications for client businesses. Anika runs her apps in Engines to make deployment as easy as possible for her and her clients.</p>
      </div>
    </div>
  </div>
</div>

<div class="col-md-12">
  <h3>In school</h3>
  <hr>
</div>


<div class="row">
  <div class="col-md-12 top-gap">
    <div class="col-md-3">
      <div class="panel-thumbnail-container">
        <%= image_tag 'user_stories/tim.jpg', class: "img-rounded" %>
        <p class="panel-thumbnail-text">Tim is a teacher. He hosts a web forum for his students on a mini PC in his office. Students use the forum for downloading worksheets, asking questions, submitting homework, and receiving their results.</p>
      </div>
    </div>

    <div class="col-md-3">
      <div class="panel-thumbnail-container">
        <%= image_tag 'user_stories/jennyandspring.jpg', class: "img-rounded" %>
        <p class="panel-thumbnail-text">Spring is a prize-winning show dog. Jenny built Spring a fanpage as a class project. She runs it from Engines on her Raspberry Pi.</p>
      </div>
    </div>

    <div class="col-md-3">
      <div class="panel-thumbnail-container">
        <%= image_tag 'user_stories/william.jpg', class: "img-rounded" %>
        <p class="panel-thumbnail-text">William set-up a sports team server for his basketball team. It helps the coach, players and parents keep organised and engaged. The photos and messages that everyone is posting will make a great keepsake of the season.</p>
      </div>
    </div> 

    <div class="col-md-3">
      <div class="panel-thumbnail-container">
        <%= image_tag 'user_stories/justin.jpg', class: "img-rounded" %>
        <p class="panel-thumbnail-text">Justin has recut some open source to build a better server application for managing restaurants. He has published his work using Engines to make it easy to showcase his development skills to potential employers.</p>
      </div>
    </div>
  </div>
</div>


<div class="col-md-12">
  <h3>At home</h3>
  <hr>
</div>

<div class="row">
  <div class="col-md-12 top-gap">
    <div class="col-md-3">
      <div class="panel-thumbnail-container">
        <%= image_tag 'user_stories/rick.jpg', class: "img-rounded" %>
        <p class="panel-thumbnail-text">Rick runs his music library from his personal server. He hosts from his bedroom and has over twenty gigs of songs.</p>
      </div>
    </div>

    <div class="col-md-3">
      <div class="panel-thumbnail-container">
        <%= image_tag 'user_stories/elise.jpg', class: "img-rounded" %>
        <p class="panel-thumbnail-text">Elise reads lots of books. She uses Engines to run a library to house her ebook collection. She runs a web forum for her bookclub from the same machine.</p>
      </div>
    </div>

    <div class="col-md-3">
      <div class="panel-thumbnail-container">
        <%= image_tag 'user_stories/alberto.jpg', class: "img-rounded" %>
        <p class="panel-thumbnail-text">Alberto is an ace pilot...on the multi-player fighter plane game that he runs on Engines.</p>
      </div>
    </div>

    <div class="col-md-3">
      <div class="panel-thumbnail-container">
        <%= image_tag 'user_stories/susan.jpg', class: "img-rounded" %>
        <p class="panel-thumbnail-text">Susan is passionate about fitness. Her personal server logs her biometrics and helps Susan analyse her progress.</p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12 top-gap">
    <div class="col-md-3">
      <div class="panel-thumbnail-container">
        <%= image_tag 'user_stories/marty.jpg', class: "img-rounded" %>
        <p class="panel-thumbnail-text">Marty has a seriously geeked-out digital home. He is running a file server, email server, calendar server, contacts server, media server and home automation server. All this on a computer with an average draw of less than 5 watts. Wow. Marty, you're a legend.</p>
      </div>
    </div>

    <div class="col-md-3">
      <div class="panel-thumbnail-container">
        <%= image_tag 'user_stories/ashi.jpg', class: "img-rounded" %>
        <p class="panel-thumbnail-text">Ashi and her friends like to chat online. Ashi runs a private instant messaging service so they can have a social network all to themselves.</p>
      </div>
    </div>

    <div class="col-md-3">
      <div class="panel-thumbnail-container">
        <%= image_tag 'user_stories/heather.jpg', class: "img-rounded" %>
        <p class="panel-thumbnail-text">Heather runs a personal family website and genealogy blog. The whole clan uses the site to privately share memories for posterity.</p>
      </div>
    </div>

    <div class="col-md-3">
      <div class="panel-thumbnail-container">
        <%= image_tag 'user_stories/charlie.jpg', class: "img-rounded" %>
        <p class="panel-thumbnail-text">Charlie runs a Minecraft server from home. Charlie and his friends connect from anywhere and work together to build amazing virtual worlds.</p>
      </div>
    </div>
  </div>
</div>
