<div class="home_page">

  <div class="col-sm-12 text-center top-gap">
    <%= image_tag("engines_logo.png", class: "home-page-logo-holder") %>
  </div>

  <div class="col-sm-12 top-gap">
    <div class="jumbotron">
      <h2>Engines makes it easy to run your own server</h2>
      <p>
        Deploy web applications and store data for organisational and personal use.
      </p>
      <div class="btn-group-vertical">
        <%= link_to((content_tag(:i, '', class: 'fa fa-info').html_safe + " Learn more about Engines"), overview_path, class: "btn btn-lg btn-info") %>
      </div>
    </div>
  </div>

  <% if current_user.nil? %>
    <div class="col-sm-12 top-gap">
      <div class="jumbotron">
        <div class="btn-group-vertical">
            <%= link_to((content_tag(:i, '', class: 'fa fa-user-plus').html_safe + " Not registered? Sign up..."), new_user_registration_path, class: "btn btn-lg btn-primary") %>
            <%= link_to((content_tag(:i, '', class: 'fa fa-user').html_safe + " Sign in"), new_user_session_path, class: "btn btn-lg btn-default") %>
        </div>
      </div>
    </div>
  <% end %>

  <div class="col-sm-12 top-gap">
    <div class="jumbotron">

      <div class="btn-group-vertical">
        <%= link_to((content_tag(:i, '', class: 'fa fa-list').html_safe + " Software gallery"), published_softwares_path, class: "btn btn-lg btn-default") %>
      </div>

      <h2><i class="fa fa-tablet"></i> Featured software</h2>
      <div class="published-softwares-list">
        <% @published_softwares.each do |published_software| %>
          <div class="published-software-row" onclick="location.href='<%= published_software_path(published_software) %>';">
            <%= render 'published_softwares/presenter', published_software: published_software %>
          </div>
        <%end%>
      </div>
      <p>Check out the <%= link_to "software gallery", published_softwares_path %> to see all the applications that can run on Engines.</p>

    </div>
  </div>

</div>
