<div class="col-sm-12 text-center">
  <%= image_tag("engines_logo.png", class: "home-page-logo-holder") %>
</div>

<div class="col-sm-12 top-gap">
  <div class="jumbotron">
    <h2>Engines makes it easy to run servers</h2>
    <p>
      Host web applications for personal and business use.
    </p>
    <% if current_user.nil? %>
      <p>
        <%= link_to((content_tag(:i, '', class: 'fa fa-user-plus').html_safe + " Not registered? Sign up here..."), user_registration_path, class: "btn btn-lg btn-primary") %>
      </p>
    <% end %>
  </div>
</div>

<div class="col-sm-6">
  <%= form_tag published_softwares_path, method: 'get' do %>
    <div class="input-group input-group-lg">
      <div class="input-group-addon">
        <i class=" fa fa-search"></i>
      </div>
      <%= text_field_tag :search, params[:search], placeholder: "Search the gallery", class: 'form-control', autofocus: true %>
      <a href="<%= published_softwares_path %>" class="input-group-addon btn"><i class=" fa fa-list"></i> Show all</a>
    </div>
  <% end %>
</div>

<div class="col-sm-12">
  <div class="published-softwares-list">
    <h2><i class="fa fa-tablet"></i>Featured software</h2>
    <% @published_softwares.each do |published_software| %>
      <div class="published-software-row" onclick="location.href='<%= published_software_path(published_software) %>';">
        <%= render 'published_softwares/presenter', published_software: published_software %>
      </div>
    <%end%>
  </div>
</div>