<div class="col-sm-2 top-gap">
  <% if published_software.icon.exists? %>
  <div class="published-software-icon-holder">
    <img src=<%= published_software.icon.url %> class="published-software-icon">
  </div>
  <% end %>
</div>
<div class="col-sm-10 top-gap">
  <div class="published-software-details">
    <% if published_software.title.present? %>
      <div class="published-software-title">
        <%= published_software.title %> <%= (content_tag :div, (content_tag :i, nil, class: "fa fa-star", title: "Featured software!"), class: "featured_software_icon") if published_software.featured_software %>
      </div>
    <% end %>
    <% if published_software.detail.present? %>
      <div class="published-software-description">
        <%= published_software.detail %>
      </div>
    <% end %>
  </div>
  <%= render 'published_softwares/tags', published_software: @published_software,
            search: params[:search], page: params[:page], tags: params[:tags]  %>
</div>
