<div class="col-sm-12">
  <% if admin_signed_in? %>
    <div class="top-gap">
      <%= render 'published_softwares/admin_show_actions', published_software: @published_software %>
    </div>
  <% end %>
  <div class="top-gap">
    <%= render 'published_softwares/show_actions', published_software: @published_software %>
  </div>
</div>

<%= render 'published_softwares/software_icon_title_detail', published_software: @published_software %>

<div class="col-sm-12">
  <%= render 'published_softwares/tags', published_software: @published_software,
          search: params[:search], page: params[:page], tags: params[:tags]  %>
</div>

<div class="col-sm-12 top-gap">
  <div role="tabpanel">
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#info" role="tab" data-toggle="tab"><%= content_tag :i, nil, class: "fa fa-info" %> About</a></li>
      <li role="presentation"><a href="#reviews" role="tab" data-toggle="tab"><%= content_tag :i, nil, class: "fa fa-star-half-empty" %> Reviews</a></li>
      <li role="presentation"><a href="#screenshots" role="tab" data-toggle="tab"><%= content_tag :i, nil, class: "fa fa-camera" %> Screenshots</a></li>
      <li role="presentation"><a href="#videos" role="tab" data-toggle="tab"><%= content_tag :i, nil, class: "fa fa-video-camera" %> Videos</a></li>
      <li role="presentation"><a href="#blueprint" role="tab" data-toggle="tab"><%= content_tag :i, nil, class: "fa fa-file-text" %> Blueprint</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="info">
        <%= render 'published_softwares/info', published_software: @published_software %>
      </div>
      <div role="tabpanel" class="tab-pane" id="reviews">
        <%= render 'published_softwares/reviews', published_software: @published_software %>
      </div>
      <div role="tabpanel" class="tab-pane" id="screenshots">
        <%= render 'published_softwares/screenshots', published_software: @published_software %>
      </div>
      <div role="tabpanel" class="tab-pane" id="videos">
        <%= render 'published_softwares/videos', published_software: @published_software %>
      </div>
      <div role="tabpanel" class="tab-pane" id="blueprint">
        <%= render 'published_softwares/blueprint', published_software: @published_software %>
      </div>

    </div>
  </div>

</div>