<%= content_tag :div, class: 'col-sm-12' do %>

  <%= content_tag :h1 do %>
    <%= content_tag(:i, '', class: 'fa fa-users') %> Users
  <% end %>

  <%= content_tag :table, class: 'top-gap table table-hover' do %>

    <% @users.each do |user| %>
      <%= content_tag :tr, class: 'clickable-table-row', href: user_admin_path(user) do %>
        <td><%= user.username %></td>
        <td><%= user.email %></td>
      <% end %>   
    <% end %>

  <% end %>

<% end %>