
<%= content_tag :div, class: 'col-sm-12' do %>

  <%= content_tag :h1 do %>
    <%= content_tag(:i, '', class: 'fa fa-user') %> User
  <% end %>

  <%= content_tag :div, class: 'top-gap' do %>

    <% @user.tap do |user| %>

      <%= content_tag :div, class: 'panel panel-default' do %>
        <%= content_tag :div, class: 'panel-heading clearfix' do %>
          <%= user.banned ? "BANNED " : "" %><%= user.username %> (<%= user.email %><%= user.confirmed? ? "" : " not confirmed" %>)
          <div class="btn-toolbar pull-right">
            <div class="btn-group">
              <% if user.banned %>
                <%= link_to (content_tag(:i, "", class: "fa fa-check-circle-o") + " Unban"), unban_user_admin_path(@user), class: 'trigger-response-modal btn btn-lg btn-noborder btn-default pull-right' %>
              <% else %>
                <%= link_to (content_tag(:i, "", class: "fa fa-ban") + " Ban"), ban_user_admin_path(@user), class: 'btn btn-lg btn-noborder btn-default pull-right', data: { confirm: "Are you sure that you want to ban #{user.username}?", confirm_title: 'Confirm ban' } %>
              <% end %>
            </div>
          </div>
        <% end %>   
      <% end %>   
      <legend>Reviews</legend>
      <%= render 'comments/index', comments: user.comments %>

    <% end %>

  <% end %>

<% end %>
