<style>
.home_page_background_cover { 
background: url(<%= image_url 'home_background.png' %>) no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
</style>

<div class="home_page">

  <div class="col-sm-12 text-center">
    <%= image_tag("engines_logo.png", class: "home-page-logo-holder") %>
  </div>

  <div class="col-sm-12 top-gap">
    <div class="jumbotron clearfix">
      <div class="col-md-8">  
        <h2>Engines makes it easy to run your own server</h2>
        <p>deploy web applications and store data<br>
           for organisations and personal use</p>
        <p><small><i>Simpler, with more control, lower costs and better privacy.</i></small></p>
          <%= link_to((content_tag(:i, '', class: 'fa fa-hand-o-right').html_safe + " Overview"), overview_info_pages_path, class: "btn btn-lg btn-default trigger-response-modal top-gap") %>
          <%= link_to((content_tag(:i, '', class: 'fa fa-floppy-o').html_safe + " Install"), install_info_pages_path, class: "btn btn-lg btn-default trigger-response-modal top-gap") %>
        <div class="btn-group top-gap">
          <div class="dropdown">
            <button class="btn btn-default btn-lg dropdown-toggle" id="home_more_pages_menu" data-toggle="dropdown">
              <i class="fa fa-info"></i>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><%= link_to((content_tag(:i, '', class: 'fa fa-camera').html_safe + " Screenshots"), screenshots_info_pages_path, class: "btn-lg trigger-response-modal #{ params[:action] == 'screenshots' ? "active" : "" }") %></li>
              <li><%= link_to content_tag(:i, "", class: "fa fa-video-camera") + " Software videos", software_videos_info_pages_path, class: "btn-lg trigger-response-modal #{ params[:action] == 'software_videos' ? "active" : "" }" %></li>
              <li><%= link_to content_tag(:i, "", class: "fa fa-code") + " Technical brief", technical_brief_info_pages_path, class: "btn-lg trigger-response-modal #{ params[:action] == 'technical_brief' ? "active" : "" }" %></li>
              <li><%= link_to content_tag(:i, "", class: "fa fa-pencil") + " Contact us", contact_us_info_pages_path, class: "btn-lg trigger-response-modal #{ params[:action] == 'contact_us' ? "active" : "" }" %></li>
            </ul>
          </div>
        </div>


        <% if current_user.nil? %>
          <%= link_to((content_tag(:i, '', class: 'fa fa-user-plus').html_safe + " Not registered? Sign up..."), new_user_registration_path, class: "btn btn-lg btn-primary trigger-response-modal top-gap") %>
        <% end %>
      </div>
      <div class="col-md-4 text-center">  
        <%= render 'video' %>
        <a class="btn btn-default share_by_email" href="mailto:?subject=Engines&amp;body=%20Engines is for running your own server. Have a look at engines.onl"><i class="fa fa-share"></i> to <i class="fa fa-envelope"></i></a>
        <div class="social_links_area"><button type="button" class="btn btn-default" id="open_social_links_button"><i class="fa fa-share"></i>&nbspto social&nbspmedia <div class="social_icons"><%= content_tag :i, nil, class: "fa fa-twitter" %>&nbsp<%= content_tag :i, nil, class: "fa fa-pinterest" %>&nbsp<%= content_tag :i, nil, class: "fa fa-linkedin" %>&nbsp<%= content_tag :i, nil, class: "fa fa-facebook" %>&nbsp<%= content_tag :i, nil, class: "fa fa-reddit" %></button></div>

      </div>
    </div>
  </div>

  <div class="col-sm-12">
    <div class="jumbotron clearfix">
      <div class="col-md-12">
        <h2>Software</h2>
        <%= link_to((content_tag(:i, '', class: 'fa fa-th-list').html_safe + " Library"), published_softwares_path, class: "btn btn-lg btn-default") %>
        <h3><i class="fa fa-binoculars"></i> Find</h3>
        <div id="tag_cloud_holder" class="top-gap"></div>
      </div>
      <div class="col-sm-12 top-gap">
        <h3><i class="fa fa-flag"></i> Featured</h3>
        <div class="published-softwares-list">
          <% @published_softwares.each do |published_software| %>
            <div class="published-software-row" onclick="location.href='<%= published_software_path(published_software) %>';">
              <div class="panel panel-default published-software-panel">
                <div class="panel-body">
                  <div class="published-software-holder">
                    <%= render 'published_softwares/presenter', published_software: published_software %>
                  </div>
                </div>
              </div>
            </div>
          <%end%>
        </div>
      </div>
    </div>
  </div>

</div>
