<div class="home_page">

  <div class="splash-container">
      <div class="splash">
        <div class="splash-icon">
          <%= image_tag("3_cyl_engine_grey.png", alt: " ") %>
        </div>
        <div class="splash-head">
          <%= image_tag("engines_cursive.png", alt: "Engines") %>
        </div>
        <div class="splash-subhead">
          Run your own server.
        </div>
      </div>
  </div>
  <%= render 'get_started' %>


  <div class="col-sm-12 top-gap">
    <div class="clearfix">
      <div class="col-md-8">
        <p>Organisations and individuals can use Engines to self-host server applications.</p>
        <%= link_to((content_tag(:i, '', class: 'fa fa-hand-o-right').html_safe + " Overview"), overview_info_path, class: "btn btn-lg btn-default") %>
        <p class='top-gap'>Find software in the App library.</p>
        <%= link_to((content_tag(:i, '', class: 'fa fa-th').html_safe + " Apps"), published_softwares_path, class: "btn btn-lg btn-default") %>
      </div>

      <div class="col-md-4 text-center">
        <%= render 'video' %>
        <a class="btn share_by_email" href="mailto:?subject=Engines&amp;body=%20Hi%0A%0AEngines is for running your own server. Check out engines.org - it's really cool."><i class="fa fa-envelope"></i></a>
        <div class="social_links_area"><button type="button" class="btn" id="open_social_links_button"><div class="social_icons"><%= content_tag :i, nil, class: "fa fa-twitter" %>&nbsp<%= content_tag :i, nil, class: "fa fa-pinterest" %>&nbsp<%= content_tag :i, nil, class: "fa fa-linkedin" %>&nbsp<%= content_tag :i, nil, class: "fa fa-facebook" %>&nbsp<%= content_tag :i, nil, class: "fa fa-reddit" %></button></div>
      </div>

    </div>
  </div>

</div>
