<% apps.each do |app| %>

  <div class="col-md-3 software-panel">
      <a href="<%= app_path(app, tags: params[:tags], search: params[:search], page: params[:page]) %>" class="btn btn-noborder btn-lg trigger-response-modal" title="Install <%= app.title %>">
        <div class="software-icon-area">
            <div class="helper-to-vertical-align-middle"></div><img src="<%= app.icon.url(:medium) %>" class="software-icon" alt="">
        </div>
        <% if app.title.present? %>
            <div class="software-name"><%= app.title %></div>
        <% end %>
        <% if app.detail.present? %>
            <div class="software-detail"><%= app.detail %></div>
        <% end %>
      </a>
  </div>

<%end%>
