<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <i class="fa fa-caret-down"></i>
      </button>
      <%= link_to (image_tag("engines_logo.png", class: "navbar-icon")), root_path, class: 'trigger-response-modal navbar-brand' %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <%= link_to content_tag(:i, "", class: "fa fa-home") + " Home", home_path, class: "trigger-response-modal" %>
        </li>
        <li class="<%= params['controller'] == 'published_softwares' ? 'active' : '' %>">
          <%= link_to content_tag(:i, "", class: "fa fa-th-list") + " Library", published_softwares_path, class: "trigger-response-modal" %>
        </li>
        <li class="<%= params['controller'] == 'info_pages' ? 'active' : '' %>">
          <%= link_to((content_tag(:i, '', class: 'fa fa-info').html_safe + " Info"), overview_info_pages_path, class: "trigger-response-modal") %>
        </li>

<!--         <li class="<%= 'active' if params[:controller] == 'published_softwares' %>">
          <%= link_to content_tag(:i, "", class: "fa fa-th-list") + " Gallery", published_softwares_path, class: 'trigger-response-modal' %>
        </li>
        <li class="<%= 'active' if params[:controller] == 'tags' %>">
          <%= link_to content_tag(:i, "", class: "fa fa-tag") + " Tags", tags_path, class: 'trigger-response-modal' %>
        </li>
 -->      </ul>

      <%= render 'layouts/user_navbar_gadget' %>

    </div>
  </div>
</nav>