<ul class="nav navbar-nav navbar-right transparent_navbar navbar-signin">

    <li class="dropdown">
      <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
          <%= (content_tag(:i, "", class: "fa fa-sign-in") + " Sign in") %>
      </a>
      <ul class="dropdown-menu dropdown-menu-right" role="menu">
        <li>
            <%= form_for(:user, :url => new_user_session_path) do |f| %>
              <div class="form-group">
                <label for="user_login">Username or email</label>
                <%= f.text_field :login, class: 'form-control' %>
              </div>
              <div class="form-group">
                <label for="user_password">Password</label>
                <%= f.password_field :password, class: 'form-control' %>
              </div>
              <div class="form-group">
                <%= f.check_box(:remember_me) + ' ' + f.label(:remember_me, 'Remember me', class: 'form-text-lg') %>
              </div>
              <div class="form-group">
                  <%= f.submit 'Sign in', class: 'btn btn-lg btn-primary' %>
                <div class="pull-right">
                    <%= link_to (content_tag(:i, '', class: 'fa fa-lock').html_safe + " Forgot your password?"), new_user_password_path(), class: "btn-sm trigger-response-modal" %><br>
                    <%= link_to((content_tag(:i, '', class: 'fa fa-user-plus').html_safe + " Not registered? Sign up."), new_user_registration_path, class: "btn-sm trigger-response-modal") %>
                </div>
              </div>
            <% end %>
        </li>
      </ul>
    </li>

</ul>
