<% if user_signed_in? %>
  <ul class="nav navbar-nav navbar-right transparent_navbar">
    <li class="dropdown">
      <a id="navbar_user_menu_toggle" href="#" class="dropdown-toggle" data-toggle="dropdown">
        <%= content_tag(:i, '<span class="caret"></span>'.html_safe, class: "fa fa-user navbar_user_icon") %>
      </a>
      <ul class="dropdown-menu" role="menu">
        <li>
          <% link_body = (content_tag(:i, '', class: 'fa fa-cog') + ' ' + current_user.email) %>
          <%= link_to link_body, user_path(current_user), class: 'trigger-response-modal' %>
        </li>
        <li class="divider"></li>
        <li><%= link_to (content_tag(:i, "", class: "fa fa-sign-out") + " Sign out"), destroy_user_session_path, class: 'trigger-response-modal', method: :delete %></li>
      </ul>
    </li>
  </ul>
<% elsif admin_signed_in? %>
  <ul class="nav navbar-nav navbar-right transparent_navbar">
    <li class="dropdown">
      <a id="navbar_user_menu_toggle" href="#" class="dropdown-toggle" data-toggle="dropdown">
        <%= content_tag(:i, '<span class="caret"></span>'.html_safe, class: "fa fa-user navbar_user_icon") %><small>Admin</small>
      </a>
      <ul class="dropdown-menu" role="menu">
        <li>
          <% link_body = (content_tag(:i, '', class: 'fa fa-cog') + ' ' + current_admin.email) %>
          <%= link_to link_body, admin_path(current_admin), class: 'trigger-response-modal' %>
        </li>
        <li class="divider"></li>
        <li><%= link_to (content_tag(:i, "", class: "fa fa-users") + " Users"), user_admins_path, class: 'trigger-response-modal' %></li>
        <li><%= link_to (content_tag(:i, "", class: "fa fa-database") + " Database"), db_admin_path, class: 'trigger-response-modal' %></li>
        <li><%= link_to (content_tag(:i, "", class: "fa fa-sign-out") + " Sign out"), destroy_admin_session_path, class: 'trigger-response-modal', method: :delete %></li>
      </ul>
    </li>
  </ul>
<% else %>
  <%= render 'layouts/navbar_sign_in' %>  
<% end %>
