<ul class="nav navbar-nav navbar-right transparent_navbar">
  <% if user_signed_in? %>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= content_tag(:i, "", class: "fa fa-user") %> <%= current_user.email %><span class="caret"></span></a>
      <ul class="dropdown-menu" role="menu">
        <li><%= link_to (content_tag(:i, "", class: "fa fa-sign-out") + " Sign out"), destroy_user_session_path, class: 'trigger-response-modal', method: :delete %></li>
      </ul>
    </li>
  <% elsif admin_signed_in? %>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= content_tag(:i, "", class: "fa fa-user") %> <%= current_admin.email %><span class="caret"></span></a>
      <ul class="dropdown-menu" role="menu">
        <li><%= link_to (content_tag(:i, "", class: "fa fa-sign-out") + " Sign out"), destroy_admin_session_path, class: 'trigger-response-modal', method: :delete %></li>
      </ul>
    </li>
  <% else %>
    <li><%= link_to((content_tag(:i, '', class: 'fa fa-sign-in') + " Sign in"), new_user_session_path) %></li>  
  <% end %>
</ul>