<!DOCTYPE html>
<html>
<head>
  <title>Engines</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if params['controller'] == 'homes' %>
  <%= render partial: 'layouts/home_navbar' %>
<% elsif params['controller'] == 'info_pages' && params['action'] == 'credits' %>
  <%= render partial: 'layouts/home_navbar' %>
<% else %>
  <%= render partial: 'layouts/navbar' %>
<% end %>

<div id="content" class="<%= params['controller'] == 'homes' ? '' : 'navbar-buffer' %>">
  <%= render partial: 'shared/flash_messages' %>
  <div class="container">
    <div class="row">
      <%= yield %>
    </div>      
  </div>
</div>

<div id="footer">
</div>

<%= render partial: 'shared/waiting_for_response' %>
<%= render partial: 'shared/confirmation_popup' %>

</body>
</html>
